@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */


* {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all .3s;
}

:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-headline: 'Open Sans', sans-serif;
    --white: #FFFFFF;
    --black: #000000;
    --not-black: #23272a;
    --grey: #F6F6F6;
    --blue: #404EED;
    --light-blue: #5865F2;
    --black-btn: #313338;
}

body {
    width: 100%;
    margin: auto;
    background: var(--white);
    font-family: var(--font-primary);
}


header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 1260px;
    height: 80px;
    padding: 0 40px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: center;
    column-gap: 40px;
}

nav ul li a {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
}

.login-btn {
    width: 124px;
    height: 38px;
    display: flex;
    justify-content: flex-end;
}

.login-btn a {
    padding: 0 16px;
    display: grid;
    place-items: center;
    border-radius: 40px;
    background-color: var(--white);
    color: var(--black);
    font-size: 12px;
    font-weight: 500;
}

.h-content {
    width: 100%;
    padding-top: 108px;
    position: relative;
    z-index: 1;
    display: grid;
    place-items: center;
}

.h-content h1,
.h-content p {
    width: 780px;
    color: var(--white);
    text-align: center;
}

.h-content h1 {
    font-family: var(--font-headline);
    font-size: 54px;
    font-weight: 800;
    letter-spacing: 10px;
}

.h-content p {
    margin: 32px 0 30px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.6px;
    line-height: 33px;
}

.h-content .btns {
    width: 780px;
    height: 56px;
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.h-content .btns a {
    padding: 0 32px;
    display: grid;
    place-items: center;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.6px;
}

.h-content .btns a:nth-child(1) {
    display: flex;
    column-gap: 8px;
    background: var(--white);
    color: var(--black);
}

.h-content .btns a:nth-child(2) {
    background: var(--black);
    color: var(--white);
}

.h-images {
    width: 100%;
    min-width: 1260px;
    height: 626px;
    position: absolute;
    top: 0;
    z-index: 0;
    background: var(--blue);
    overflow: hidden;
}

.h-images img {
    position: absolute;
}

.h-images img:nth-child(1) {
    margin-left: -1280px;
    left: 50%;
    z-index: 1;
}

.h-images img:nth-child(2) {
    margin-left: -1030px;
    left: 50%;
    bottom: 0;
    z-index: 2;
}

.h-images img:nth-child(3) {
    margin-left: 370px;
    left: 50%;
    bottom: 0;
    z-index: 2;
}


section {
    width: 100%;
    position: relative;
    top: 147px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s-one,
.s-two,
.s-three {
    width: 100%;
    min-width: 1260px;
    display: flex;
    justify-content: center;
}

.s-one .wrapper,
.s-two .wrapper,
.s-three .wrapper {
    width: 1260px;
    height: 680px;
    padding: 120px 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

.s-one .text,
.s-two .text,
.s-three .text {
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s-one .text h2,
.s-two .text h2,
.s-three .text h2 {
    color: var(--black);
    font-size: 46px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 58px;
}

.s-one .text p,
.s-two .text p,
.s-three .text p {
    margin-top: 24px;
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.8px;
    line-height: 33px;
}

.s-one,
.s-three {
    background: var(--white);
}

.s-one img,
.s-three img {
    grid-area: 1 / 1 / 2 / 8;
}

.s-one .text,
.s-three .text {
    grid-area: 1 / 9 / 2 / 13;
}

.s-two {
    background: var(--grey);
}

.s-two .text {
    grid-area: 1 / 1 / 2 / 5;
}

.s-two img {
    grid-area: 1 / 6 / 2 / 13;
}

.s-four {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--grey);
}

.s-four .wrapper {
    width: 1260px;
    padding: 120px 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-four .text {
    width: 980px;
    text-align: center;
}

.s-four .text h2 {
    color: var(--black);
    font-family: var(--font-headline);
    font-size: 38px;
    font-weight: 800;
    letter-spacing: 8px;
    line-height: 38px;
}

.s-four .text p {
    margin-top: 24px;
    color: var(--black);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.6px;
    line-height: 33px;
}

.s-four img {
    width: 1180px;
    margin-top: 15px;
}

.s-five {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--grey);
}

.s-five .wrapper {
    width: 1260px;
    padding: 0 40px 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s-five h3 {
    margin-top: 30px;
    color: var(--black);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.6px;
    line-height: 38px;
}

.s-five a {
    height: 56px;
    margin-top: 40px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    color: var(--white);
    background: var(--light-blue);
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.6px;
}

.s-five img {
    position: relative;
    top: -164px;
}


footer {
    width: 100%;
    padding: 80px 0 64px;
    position: relative;
    top: 98px;
    display: flex;
    justify-content: center;
    background: var(--not-black);
}

.f-content {
    width: 1260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f-one {
    width: 100%;
    height: 396px;
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
}

.lang-media {
    grid-area: 1 / 1 / 2 / 4;
}

.lang p {
    padding: 24px 0;
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.media {
    position: relative;
    margin-top: 24px;
    display: flex;
    column-gap: 28px;
}

.media a i {
    color: var(--white);
    font-size: 22px;
}

.f-list {
    position: relative;
    display: flex;
    flex-direction: column;
}

.f-list p {
    margin-bottom: 16px;
    color: var(--light-blue);
    font-size: 14px;
    font-weight: 400;
}

.f-list ul li {
    margin-top: 8px;
}

.f-list ul li a {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.product {
    grid-area: 1 / 5 / 2 / 7;
}

.company {
    grid-area: 1 / 7 / 2 / 9;
}

.resources {
    grid-area: 1 / 9 / 2 / 11;
}

.policies {
    grid-area: 1 / 11 / 2 / 13;
}

.line {
    grid-area: 1 / 1 / 2 / 13;
    border-bottom: 1px solid var(--light-blue);
}

.f-two {
    width: 100%;
    margin-top: 32px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-btn {
    height: 38px;
    padding: 0 16px;
    display: grid;
    place-items: center;
    border-radius: 40px;
    background: var(--light-blue);
    color: var(--white);
    font-size: 12px;
    font-weight: 500;
}


nav ul li a:hover,
.f-list ul li a:hover {
    text-decoration: underline;
}

.login-btn a:hover,
.btns a:hover {
    box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.3);
}

.s-five .wrapper a:hover {
    background: #7983f5;
    box-shadow: 1px 4px 20px 0px rgba(0,0,0,0.3);
}

.sign-btn:hover {
    background: #7983f5;
}